# 依赖
node_modules/

# 构建产物
dist/
dist-ssr/

# Tauri
src-tauri/target/

# 安装包
*.dmg
*.AppImage
*.msi
*.exe
*.deb

# 环境变量
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# 日志
*.log
npm-debug.log*

# 其他
MiniMusic计划书.md